@page "/add"
@inject NavigationManager NavigationManager
<h3>AddTodo</h3>

<EditForm Model="todo" FormName="todoForm" OnSubmit="Submit">
    <InputNumber @bind-Value="todo.Id" hidden/>
    
    <div class="row mb-3">
        <div class="col-2">
            <div class="col-form-label">Name</div>
        </div>

        <div class="col-6">
            <InputText @bind-Value="todo.Name" class="form-control"/>
        </div>

        <div class="col align-content-center">
            <ValidationMessage For="() => todo.Name"/>
        </div>
    </div>
    
    <a href="/" class="btn btn-primary">Back</a>
    <button type="submit" class="btn btn-success">Submit</button>
</EditForm>
@code {

    [SupplyParameterFromForm(FormName = "todoForm")]
    private Todo todo { get; set; } = new Todo() { IsCompleted = false };

    private void Submit()
    {
        if (todo != null)
        {
            TodoRepository.AddTodo(todo);
            NavigationManager.NavigateTo("/");
        }
    }
}