@page "/"
@inject NavigationManager NavigationManager

<PageTitle>TO-DO</PageTitle>
<a href="/todo/all" class="btn btn-outline-primary">See All Todo Items</a>

<br/>
<br/>
<a href="/add" class="btn btn-success">Create Todo</a>

<br/>
<br/>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var todo in completedTodos)
    {
        <tr>
            <td>@todo.Id</td>
            <td>@todo.Name</td>
            <td>
                <EditForm
                    Model="todo"
                    FormName="@($"completed-form-{todo.Id}")"
                    OnValidSubmit="@(() => { MarkCompleted(todo.Id); })"
                >
                    <button type="submit" class="btn btn-outline-primary">Mark As Completed</button>
                </EditForm>
            </td>
            <td>
                <a href="/@todo.Id" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<br/>
<TodoComponent @rendermode="InteractiveServer"/>

@code {
    private List<Todo> completedTodos = TodoRepository.GetNotCompletedTodos();

    private void MarkCompleted(int id)
    {
        TodoRepository.ToggleComplete(id);
        NavigationManager.NavigateTo("/");
    }
}
