<h3>TodoComponent</h3>
<ul>
    <li><s>Create Models with Mock Data</s></li>
    <li><s>Create Partial Form</s></li>
    <li><s>Create CRUD</s></li>
    <li>Connect Everything</li>
</ul>

@code {
    
}